[Unit]
Description=Measure Service

[Service]
WorkingDirectory=/root
ExecStart=/root/measure-go/server
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target